<<!DOCTYPE html>
<html>
<head>
    <title>Stok</title>
</head>
<body>

<h2>Stok Listesi</h2>

<table border="1">
<tr>
<th>Barkod</th>
<th>Ad</th>
<th>Yazar</th>
<th>Fiyat</th>
<th>Stok</th>
</tr>

{% for k in kitaplar %}
<tr>
<td>{{k[0]}}</td>
<td>{{k[1]}}</td>
<td>{{k[2]}}</td>
<td>{{k[3]}}</td>
<td>{{k[4]}}</td>
</tr>
{% endfor %}

</table>
    <div style="margin-bottom:20px;">
    <a href="/">🏠 Ana Sayfa</a> |
    <a href="/stok">📦 Stok</a> |
    <a href="/ekle">➕ Ürün Ekle</a> |
    <a href="/satis">💰 Satış</a>
</div>

</body>
</html>
