<<!DOCTYPE html>
<html>
<head>
    <title>Stok</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark px-3">
    <a href="/" class="btn btn-light">🏠 Ana Menü</a>
    <a href="/stok" class="btn btn-secondary">📦 Stok</a>
    <a href="/ekle" class="btn btn-primary">➕ Ekle</a>
    <a href="/satis" class="btn btn-success">💰 Satış</a>
</nav>

<h2>Stok Listesi</h2>

<table border="1">
<tr>
<th>Barkod</th>
<th>Ad</th>
<th>Yazar</th>
<th>Fiyat</th>
<th>Stok</th>
</tr>

{% for k in kitaplar %}
<tr>
<td>{{k[0]}}</td>
<td>{{k[1]}}</td>
<td>{{k[2]}}</td>
<td>{{k[3]}}</td>
<td>{{k[4]}}</td>
</tr>
{% endfor %}

</table>
    <div class="container mt-4">

<h3>📦 Stok Listesi</h3>

<table class="table table-striped table-bordered mt-3">
<thead class="table-dark">
<tr>
<th>Barkod</th>
<th>Ad</th>
<th>Yazar</th>
<th>Fiyat</th>
<th>Stok</th>
</tr>
</thead>

<tbody>
{% for k in kitaplar %}
<tr>
<td>{{k[0]}}</td>
<td>{{k[1]}}</td>
<td>{{k[2]}}</td>
<td>{{k[3]}}</td>
<td>{{k[4]}}</td>
</tr>
{% endfor %}
</tbody>

</table>

</div>
</div>

</body>
</html>
